name: "Deployment Terraform"

on:
  workflow_run:
    workflows: ["SQL Terraform"]
    types:
      - completed
jobs:
  app-deploy:
    env:
        GOOGLE_CREDENTIALS: ${{ secrets.GCP_SECRET }}
    name: "app-deploy"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GCP_SECRET }}
          project_id: phonic-chemist-353004

      - run: |-
          gcloud --quiet auth configure-docker

      - uses: google-github-actions/get-gke-credentials@v0.2.1
        with:
          cluster_name: servian
          location: us-east1
          credentials: ${{ secrets.GCP_SECRET }}

      - run: |-
          kubectl apply -f deployment.yaml

      - run: |-
          kubectl get pods -A
      
