name: "GKE Terraform"

on:
  push:
    # paths:
    # - 'gke_tf/**'
    # - 'worker_nodes/**' 
    branches:
      - main

jobs:
  terraform:
    env:
        GOOGLE_CREDENTIALS: ${{ secrets.GCP_SECRET }}
    name: "Terraform"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        working-directory: [gke_tf, worker_nodes]
    defaults:
      run:
        working-directory: ${{ matrix.working-directory }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # - name: Terraform Format
      #   id: fmt
      #   run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Plan
        id: plan
        # if: github.event_name == 'pull_request'
        run: terraform plan -no-color
        continue-on-error: true

      - name: Terraform Plan Status
        if: steps.plan.outcome == 'failure'
        run: exit 1

      - name: Terraform Apply
        # if: github.ref == 'refs/heads/master' && github.event_name == 'push' 
        run: |
          terraform apply -auto-approve
  
  bootstrap:
    name: bootstrap-cluster
    runs-on: ubuntu-latest
    needs: terraform
    steps:    
      - id: get-credentials
        uses: google-github-actions/get-gke-credentials@main
        with:
          cluster_name: servian
          location: us-east1
          credentials: ${{ secrets.GCP_SECRET }}

      - id: get-pods
        run: kubectl get pods -A 

      
